$primary: #ffddff;
$secondary: #ad71fb;
$background: #111111;
$white: #dfdfdf;

body{
  color: $primary;
  font-family: 'lato', sans-serif;
  background-color: $background;
}

h1,h2,h3,h4,h5{
	font-family:'PT Sans', sans-serif;
  font-weight:700;
  color: $secondary;
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 32px 16px 96px 16px;

  &__text{
    max-width: 60%;
    margin: 0px 32px 32px 0px;
  }

  &__picture img{
    border-radius: 50%;
  }
}

.portfolio{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &__element{
    display: block;
    padding: 32px;

    &__icon{
      background-color: $white;
      color: $background;
      width: 70px;
      height: 70px;
      padding: 29px;
      border-radius: 50%;
      text-align: center;

      > i{
        font-size: 70px;
      }
    }

    &:not(.portfolio__element--github):hover .portfolio__element__icon,.portfolio__element:not(.portfolio__element--github):active .portfolio__element__icon{
      background-color: $secondary;
      transition: all  0.2s ease-in 0.1s;
    }

    /*Github has its own circle*/
    &--github{
      .portfolio__element__icon{
        width: 128px;
        height: 128px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        color: $white;
        background-color: initial;
      }

      .portfolio__element__icon i{
        font-size: 128px;
      }

      &:hover .portfolio__element__icon,.portfolio__element--github:active .portfolio__element__icon{
        color: $secondary;
        transition: all 0.2s ease-in 0.1s;	/*Size transitions must be done differently*/
      }
    } 
  }
}