@import "theme";

body {
  color: $primary;
  font-family: $bodyFamily;
  background-image: linear-gradient(170deg, $background 90%, #ffef00 97%, #ff0052 99%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headerFamily;
  font-weight: 700;
  color: $secondary;
}

a {
  color: $secondary;

  &:visited,
  &:hover {
    color: $primary;
  }
}

