$primary: #ffef00;
$secondary: #9e00ff;
$background: #111111;
$white: #dfdfdf;
// $primary: #ffddff;
// $secondary: #ad71fb;
// $background: #111111;
// $white: #dfdfdf;
$headerFamily: "PT Sans", sans-serif;
$bodyFamily: "lato", sans-serif;

